<div class="reginwrapper">
	<p class="janshulogo" routerLink=""><img src="https://cdn2.jianshu.io/assets/web/logo-58fd04f6f0de908401aa561cda6a0688.png" alt="janshulogo" class="regimg"></p>
	<div class="reginmain">
		<div class="regtitle">
			<p class="logpage" (click)="doLogin()">登录</p>
			<p class="dot">	&sdot;</p>
			<p class="registerpage">注册</p>
		</div>
		<form class="regsection" action="" method="" accept-charset="utf-8">
			<input type="text" class="regaccount" placeholder="你的昵称">
			<input type="text" class="regmobile" placeholder="手机号">
			<input type="text" class="regpassword" placeholder="设置密码">
			<i class="fa fa-user account" aria-hidden="true"></i>
			<i class="fa fa-mobile mobile" aria-hidden="true"></i>
			<i class="fa fa-lock password" aria-hidden="true"></i>
		</form>
		<button class="regbtn">注册</button>
		<div class="regdeclaration">
			点击 “注册” 即表示您同意并愿意遵守简书
				<b>用户协议</b> 和 <b>隐私政策</b> 。
		</div>
		<h6 class="dividedline">社交账号直接注冊</h6>
		<div class="otherregway">
			<p class="regweixin"><i class="fa fa-weixin fa-2x" aria-hidden="true"></i></p>
			<p class="regqq"><i class="fa fa-qq fa-2x" aria-hidden="true"></i></p>
		</div>
	</div>
</div>
